.btn {
    padding: 10px 40px;
}
.btn:hover{
    transition: .7s;
    transform: scale(1.1);
}
.btn-dark {
    background-color: map-get($theme, color-secondary);
    border-color: map-get($theme, color-secondary);
}
.btn-dark:hover{
    background-color: map-get($theme, color-dark);
}
.button-precios {
    color: white;
}
.button-precios:hover {
    transition: all .7s;
    transform: scale(1.2);
    color: white;
}
.button-servicios {
    color: map-get($theme, color-dark);
}
.button-servicios:hover {
    transition: all .7s;
    transform: scale(1.2);
    color: map-get($theme, color-dark);
}
.btn-primary {
    background-color: map-get($theme, color-primary);
    border-color: map-get($theme, color-primary);
}
.btn-primary:hover {
    background-color: map-get($theme, color-primary);
    border-color: map-get($theme, color-primary);
} 
.wsp-button {
    width: 70px;
    height: 70px;
    background-color: #25D366;
    border-radius: 50%;
    right: 1em;
    bottom: 1em;
    box-shadow: map-get($theme, color-dark) 0 0 10px;
    a {
        color: white;
        font-size: 2.5em;
    }
}
