    $color-bg-white: #F4EDED;
    $color-dark: #202020;
    $color-secondary: #3E4F56;
    $color-primary: #E97156;
    $color: #F9DB6D;
    $color: #80CED7;
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        height: auto;
        z-index: 1;
    }
    
    html, body {
        height: 100%;
    }
    
    .grid-container {
        display: grid;
        grid-template:
        "header"
        "navbar"
        "main"
        "footer"
    }
    
    .header {
        grid-area: header;
        width: 100%;
    }
    
    .navbar {
        grid-area: navbar;
    }
    
    .main {
        grid-area: main;
    }
    
    .enConstruccion {
        display: flex;
        min-height: inherit;
    }
    
    .enConstruccion p {
        font-weight: 700;
        font-size: 50px;
    }
    
    .enConstruccion img {
        height: 300px;
    }
    
    p {
        z-index: 1;
        margin: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    .wsp-button {
        width: 70px;
        height: 70px;
        background-color: #25D366;
        border-radius: 50%;
        right: 1em;
        bottom: 1em;
        box-shadow: $color-dark 0 0 10px;
    }
    
    .wsp-button a{
        color: white;
        font-size: 2.5em;
    }
    
    .bg-p1-color {
        background-color: $color-primary;
        color: white;
    }
    
    .bg-p2-color {
        background-color: #F9DB6D;
    }
    
    .bg-s1-color {
        background-color: $color-secondary;
        color: white;
    }
    
    .bg-s2-color {
        background-color: $color-dark;
        color: white;
    }
    
    .bg-s3-color {
        background-color: $color-bg-white;
        color: $color-dark;
    }
    
    body {
        margin: 0;
        font-family: 'Open Sans', 'Roboto', 'sans-serif';
        color: $color-dark;
    }
    
    /* Header */
    .navbar {
        box-shadow: $color-dark 0px 0px 10px;
    }

    .navbar-nav {
        margin: auto;        
    }
    
    .nav-link {
        width: fit-content;
        color: $color-secondary !important;
    }
    
    .nav-item {
        padding: 5px 10px;
    }
    
    .navbar-toggler {
        border: 0;
    }
    
    .navbar-toggler:focus {
        box-shadow: none;
    }
    
    .nav-link.active {
        font-weight: 500;
        border-bottom: solid $color-secondary;
        color: $color-secondary !important;
    }    
    /* End Header */
    
    /* Footer */
    .footer {
        grid-area: footer;
    }
    
    .footer ul {
        text-align: right;
        list-style-type: none;
        overflow: hidden;
        margin-top: 25px;
        font-size: 1.5em;
        padding: 0;
    }
    
    .footer li {
        display: inline;
        margin: 0 15px;
    }
    
    .footer a {
        font-weight: 300;
        color: white;
    }
    
    .footer a:hover {
        transition: .7s;
        color: $color-secondary;
    }
    
    .footer-copy {
        font-size: 15px;
        background-color: $color-secondary;
        text-align: center;
        color: white;
        padding: 0.8em;
    }
    
    .btn {
        padding: 10px 40px;
    }
    
    .btn:hover{
        transition: .7s;
    }
    
    .btn-dark:hover{
        background-color: $color-dark;
    }
    
    .btn-dark {
        background-color: $color-secondary;
        border-color: $color-secondary;;
    }
    /* End Footer */
    
    
    .line-h {
        width: 100px;
        height: 10px;
        background-color: $color-primary;
        margin: 10px 0;
    }
    
    .button-precios {
        color: white;
    }
    .button-precios:hover {
        transition: all .7s;
        transform: scale(1.2);
        color: white;
    }
    .button-servicios {
        color: $color-dark;
    }
    .button-servicios:hover {
        transition: all .7s;
        transform: scale(1.2);
        color: $color-dark;
    }
    
    .cardAnimation:hover {
        transition: all .7s;
        transform: scale(1.1);
    }
    
    .imgBorder {
        border: $color-primary solid 0.5rem;
    }
    
    .banner {
        background: $color-secondary;
        background: linear-gradient(0deg, $color-secondary 0%, $color-dark 100%);
        height: 60vh;
    }
    
    .banner img{
        object-fit: cover;
    }
    
    .banner .line-h {
        height: 15px;
        width: 50%;
    }
    
    .about-intro {
        font-size: 1.9em;
        text-align: center;
    }
    
    .contact-form {
        padding: 5%;
        border-radius: 20px;
        width: 90%;
        height: 70%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-around;
    }
    
    .contact-form input {
        background-color: $color-secondary;
        border: none;
        border-bottom: white 2px solid;
        text-decoration: none;
        color: white;
        width: 100%;
        padding: 7px;
        font-size: 14px;
        border-radius: 5px;
    }
    
    ::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
    
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
    
    .contact-form #nombre, .contact-form #apellido{
        width: 47%;
    }
    
    .contact-form .button {
        background-color: $color-primary;
        border-radius: 7px;
        border: none;
        width: 50%;
        margin: auto;
        cursor: pointer;
        height: 40px;
        font-weight: 500;
    }
    
    .btn:hover {
        transform: scale(1.1);
    }
    
    .vh-80 {
        height: 80vh;
    }
    
    .card {
        background-color: transparent;
        border: 0;
    }
    
    .card-body {
        flex: 0;
    }
    
    /* TABLET */
    @media (max-width: 800px) {
        .contact-form {
            width: 90%;
            height: 100%;
            font-size: .8em;
        }
    
        .contact-form .button {
            width: 50%;
            height: 30px;
        }
    }
    
    
    /* MOBILE */
    
    @media (max-width: 767px) {
        .footer ul, .footer li{
            text-align: center;
            display: block;
            line-height: 40px;
        }
    
        .banner h1 {
            font-size: 2.5em;
        }
    }
    
    
    
    
    
    
    
    
    #prices-container {
        padding: 7rem 1rem;
        cursor: default;
    }
      
    #prices-container .head_bg{
        border-color: $color-secondary rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $color-secondary;
    }
      
    #prices-container .head span{
        color: white;
    }
    
    #prices-container .sign{
        display: inline-block;
        font-size: 28px;
        font-weight: 400;
        vertical-align: middle;
    }
    
    #prices-container .currency{
        font-size: 60px;
        font-weight: 300;
        letter-spacing: -2px;
        line-height: 60px;
        padding: 0;
        vertical-align: middle;
    }
    
    #prices-container .cent{
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        vertical-align: bottom;
    }
    
    #prices-container .month{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3px;
        vertical-align: bottom;
    }
    
    #prices-container .item_list ul li{
        color: $color-dark;
    }
    
    #prices-container .item_list ul li i{
        color: #1ABC9C;
    }
    
    #prices-container .item_list ul li:hover{
        background-color: #DEE2E6;
        border-left: 5px solid $color-primary;
    }
      
    #prices-container .precio_btn a{
        border: 1px solid $color-primary; 
        color: $color-primary;
    } 
      
    #prices-container .precio_contenido:hover .head_bg, #prices-container .precio_contenido.active .head_bg {
        border-color: $color-primary rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $color-primary;
    }
      
    #prices-container .precio_contenido:hover .precio_btn a, #prices-container .precio_contenido.active .precio_btn a{
        background-color: $color-primary;
        color: white;
    } 
    
    .row .table{
        padding: 28px 0;
    }
    
    #prices-container .precio_head_contenedor {
        background-color: #DEE2E6;
        margin: 0 0 20px 0;
    }
      
    #prices-container .precio_contenido .precio_head_contenedor .precio_head{
        margin: 0 0 50px 0;
    }
      
    #prices-container .head_bg{
        border-style: solid;
        border-width: 90px 1411px 23px 399px;
    }
      
    #prices-container .head{
        padding-top: 40px;
    }
      
    #prices-container .head span{
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 2px;
    }
      
    #prices-container .precio_total{
        padding: 0 0 20px;
    }
      
    #prices-container .item_list ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
      
    #prices-container .item_list ul li{
        padding: 15px 0;
        transition: all .3s;
    }
    
    #prices-container .item_list ul li .fa{
        padding: 0 10px;
    }
    
    #prices-container .precio_btn{
        margin: 20px 0 32px;
    }
    
    #prices-container .precio_btn a{
        display: inline-block;
        font-size: 18px;
        padding: 12px 30px;
    }
      
    #prices-container .head_bg, .precio_btn a{
        transition: all .5s;
    }
    
    #services-container {
        padding: 7rem 1rem;
    }
    
    #contact-form {
        position: relative;
        padding: 7rem 1rem;
        background: rgb(233,113,86);
        background: linear-gradient(45deg, rgba(233,113,86,1) 0%, rgba(128,206,215,1) 50%, rgba(62,79,86,1) 100%);
    }
    
    #contact-form form {
        padding: 2em;
        background-color: $color-dark;
        color: white;
        border-radius: 20px;
    }

    .google-map {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .25;
    }
    
    .btn-primary {
        background-color: $color-primary;
        border-color: $color-primary;;
    }
    
    .btn-primary:hover {
        background-color: $color-primary;
        border-color: $color-primary;;
    }